body{
    background-color: azure;
}
*:focus{
    outline: none;
}
.box{
    box-sizing: border-box;
    width: 153px;
    height: 153px;
    border: 2px solid #3498db;
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px rgba(94, 104, 121, 0.288);
    border-radius: 50px;
    background-color: rgba(241, 222, 222, 0.281);
    overflow: hidden;
    transition: all 1s;
}

img{
    box-sizing: border-box;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin: 0;
    border: 5px solid #0082e6;
    padding: 3px;
    background-color: white;
}

input[type="text"], input[type="email"], input[type="password"]{
    display: block;
    box-sizing: border-box;
    background: none;
    color: black;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #acd7f8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    border-bottom: 2px solid #3498db;
    border-bottom-right-radius: 20px;
    color: #3498db;
    transition: 0.2s ease;
}
.btns{
    border: 1px solid #3498db;
    background-color: rgb(180, 229, 235);
    color: black;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin: 0px;
    transition: all 0.3s;
}
.btns:hover{
    transform: scale(1.1);
}
input[type="file"]{
    display: none;
}
label{
    box-sizing: border-box;
    font-size: 20px;
    background-color: rgb(177, 215, 245);
    color: black;
    border: 1px solid #3498db;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}

label:hover{
    background-color: #3498db ;
    color: black;
} 


.box:hover{
    width: 360px;
    height: 900px;
    border-radius: 5px;
}


.box:hover img{
    width: 100px;
    height: 100px;
    margin: 20px 31%;

}
#hidden{
    display: none;
}
